/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafff7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 390px) {
  body {
    background-color: #fff;
  }
}

@media (max-width: 768px) {
  .contact-info-box {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container {
    padding: 0 1rem;
  }
}
@font-face {
  font-family: "Resgak";
  src: url("/fonts/Resgak-Regular.woff2") format("woff2"),
    /* Adjust path and format as needed */ url("/fonts/Resgak-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
/* In your global CSS file */
html {
  scroll-behavior: smooth;
}
